body {
  background-image: url("https://bg-multimedia.github.io/images/background.jpg");
  color: #ffffff;
  font-family: "Roboto", sans-serif;
  background-color: #33cbce;
  background-size: 100%;
  /* overflow-y:hidden; /*avoid scroll bar*/
  z-index: -20;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

#logo {
  height: 18vh;
  margin-left: 1vh;
  filter: drop-shadow(5px 5px 5px #222); /*sombrita */
}

header {
  margin-top: 2vh;
}

nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  float: right;
  margin-right: 20px;
  align-items: flex-end;
  text-shadow: 2px 2px #222222b5;
  height: 70vh;
}

nav a {
  font-size: 4rem !important;
  text-decoration: none;
  color: inherit;
  height: 18vh;
}

/* GIGANTES */
@media only screen and (min-width: 1824px) {
}

/*DESKTOP*/
@media screen and (min-width: 1224px) {
  nav {
    margin-top: 30px;
  }

  /* nav a {
    font-size: 7rem !important;
    height: inherit;
  } */
}

/* centrar logo */
@media only screen and (max-width: 980px) {
  #badge {
    display: flex;
    justify-content: center;
  }
}

/*TABLET*/
@media screen and (max-width: 750px) {
  /*  #logo {
    height: 16vh;
  } */

  /* nav a {
    font-size: 6rem !important;
    height: inherit;
  } */
}

/*CELULARES*/
@media screen and (max-width: 500px) {
  /* #logo {
    height: 14vh;
  } */

  /* nav a {
    font-size: 5rem !important;
    height: inherit;
  } */
}

/*INTERACTIONS*/
nav a:hover {
  color: rgb(42, 221, 206);
  transition: 0.7s;
  font-size: 4.5rem !important;
}

#logo:hover {
  transition: 0.7s;
  height: 18.2vh;
}
